<nav class="font-bold mb-2">
    <ol class="list-none p-0 inline-flex">
        <li class="flex items-center text-lg">
            You do not have permissions to edit raid <span class="text-gray-500 ml-1">#<%= raid.id %></span>
        </li>
    </ol>
</nav>
