<nav class="font-bold mb-2">
    <ol class="list-none p-0 inline-flex">
        <li class="flex items-center text-lg">
            Raid does not exist or has been deleted.
        </li>
    </ol>
</nav>
